html {
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin:auto;
}

#buildSandwichDiv {
  width:50%;
  float:left;
  border: 1px solid black;
}

#previewSandwichDiv {
  width:50%;
  float:left;
  border: 1px solid grey;
}

#clear {
  clear:both;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  display: inline-block;
}

input {
  display:none;
}

label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  border-radius: 100%;
  transition-duration: 0.2s;
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  border-radius: 100%;
}

:checked + label {
  background-color: lavender;
  transform: scale(0.9);
}

:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333333;
}
