body {
  background-color: #F66733;
  color: black;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  box-sizing: border-box;
}

#container {
  width: 100%;
}

#leftHalfDiv {
  display: inline-block;
  background-color: white;
  position:absolute;
  padding: 5px;
  right:30%;
  width: 40%;
  border: 3px solid #522D80;
}

#rightHalfDiv {
  display: inline-block;
  background-color: white;
  text-align:left;
  position:fixed;
  padding: 5px;
  left:70%;
  width: 20%;
  border: 3px solid #522D80;
  border-left: 0px;
}

#clear {
  clear:both;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  display: inline-block;
}

input {
  display:none;
}

label {
  display: inline-block;
  position: relative;
  padding: 10px;
  cursor: pointer;
  border-radius: 100%;
  transition-duration: 0.2s;
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  border-radius: 100%;
}

:checked + label {
  background-color: lavender;
  transform: scale(0.9);
}

:checked + label img {
  transform: scale(0.9);
  background-color:white;
  box-shadow: 0 0 5px #333333;
}
