html {
  margin: auto;
  text-align: center;
  font-family: sans-serif;
}

#chooseBread {
  background-color: blue;
}

#chooseMeats {
  background-color: red;
}

ul {
  background-color: yellow;
  list-style-type: none;
}

li {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background-color: purple;
}

input {
  display:none;
}

label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  border-radius: 100%;
  transition-duration: 0.2s;
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  border-radius: 100%;
}

:checked + label {
  background-color: lavender;
  transform: scale(0.9);
}

:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333333;
}
