html {
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #F66733;
  color: white;
}

#reviewSandwichDiv {
  width: 50%;
  border: 3px solid #522D80;;
}

#reviewNameNumDiv {
  width: 50%;
  border: 3px solid #522D80;
}
